// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav#mainNav{
  a{
    color: #333;
  }
}
#about-us{
  &:before {
    content: " ";
    position: absolute;
    width: 98vw;
    height: 25vh;
    opacity: .6;
    z-index: -1;
    background-size: cover;
    top: 0;
    background-image:image-url(about_us);
  }

  margin-top:56px;
  height: 25vh;
}

#motivation{
  &:before {
    content: " ";
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: .4;
    z-index: -1;
    background-size: cover;
    top: 100vh;
    background-image:image-url(motivation);
  }

  height: 100vh;
}
