!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %title Krishiguru
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container-fluid.mx-0.px-0
      %nav#mainNav.navbar.navbar-expand-md.navbar-light.bg-light.fixed-top
        %a.navbar-brand{href: "/"} KrishiGuru
        %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", "type" => "button"}
          %span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            %li.nav-item
              %a.nav-link.active{href: "/"} About Us
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"} Services
              .dropdown-menu
                %a.dropdown-item{:href => weather_path} Weather
                .dropdown-divider
                %a.dropdown-item{:href => market_index_path} Market
                .dropdown-divider
                %a.dropdown-item{:href => news_index_path} News
                .dropdown-divider
                %a.dropdown-item{:href => guides_path} Guide
                .dropdown-divider
                %a.dropdown-item{:href => finance_index_path} Finance
            %li.nav-item
              %a.nav-link{href: "#blog"} Blog
            %li.nav-item
              %a.nav-link{href: "#contact-us"} Contact Us
      %div{style: "margin-top: 56px"}
      = yield
      %hr
      %footer{:role => "contentinfo"}
        .container
          .row
            .col-md-4.col-sm-12
              .card{style: "height: 250px;"}
                .card-body
                  %h2.card-title Services
                  %hr
                  %ul.list-unstyled
                    %li
                      %a{:href => weather_path} Weather
                    %li
                      %a{:href => market_index_path} Market
                    %li
                      %a{:href => news_index_path} News
                    %li
                      %a{:href => guides_path} Guides
                    %li
                      %a{:href => finance_index_path} Finance
                    %li
                      %a{:href => "#"} Blog
            .col-md-4.col-sm-12
              .card{style: "height: 250px;"}
                .card-body
                  %h2 Website Information
                  %hr
                  %ul.list-unstyled
                    %li
                      %a{:href => "/website_tutorial"} Website Tutorial
                    %li
                      %a{:href => "/disclaimer"} Disclaimer
                    %li
                      %a{:href => "/privacy_policy"} Privacy Policy
                    %li
                      %a{:href => "/sitemap.xml"} Sitemap
                    %li
                      %a{:href => "/faqs"} FAQs
            .col-md-4.col-sm-12
              .card{style: "height: 250px;"}
                .card-body
                  %h2 Contact Us
                  %hr
                  %address
                    %ul.list-unstyled
                      %li
                        Email
                        %a{href: "mailto:contact@krishiguru.org"}
                          contact@krishiguru.org
                        %br
                        Media Queries
                        %a{href: "mailto:info@krishiguru.org"}
                          info@krishiguru.org
                      %li
                        Australia: +61 424 199 515
                        %br
                        India: +91 8087 988 667
